
{% extends "layouts/base.html" %}

{% block title %} Charts {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  * {
    box-sizing: border-box;
  }
  
  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }
  
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }
  
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }
  </style>


{% endblock stylesheets %}

{% block content %}

  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="card">
          <div class="p-4 border-bottom bg-light">
            <h4 class="card-title mb-0">Salivary Cortisol Kit</h4>
            <p class="card-description">Buy any of our offered strips/packages and get it delivered to your home!</p>
          </div>
          <div class="card-body">
            <div class="columns">
              <ul class="price">
                <li class="header">Basic</li>
                <li class="grey">Free</li>
                <li>Daily Tests: 1</li>
                <li>Test Logs</li>
                <li>Buy a one-week kit of strips <a target="_blank" href="https://www.amazon.ca/">here.</a></li>
                <li>For personal tracking</li>
                <li class="grey"><a href="#" class="button">Activated</a></li>
              </ul>
            </div>
            
            <div class="columns">
              <ul class="price">
                <li class="header" style="background-color:#4CAF50">Pro</li>
                <li class="grey">$ 15.99 / mo</li>
                <li>Daily Tests: 3</li>
                <li>Test Logs</li>
                <li>31 strips shipped per month</li>
                <li>For professional advice on mental health</li>
                <li class="grey"><a href="#" class="button">Sign Up</a></li>
              </ul>
            </div>
            
            <div class="columns">
              <ul class="price">
                <li class="header">Premium</li>
                <li class="grey">$ 49.99 / mo</li>
                <li>Daily Tests: Unlimited</li>
                <li>Test Logs</li>
                <li>31 strips shipped per month</li>
                <li>For monthly appointments with a mental healthcare physician</li>
                <li class="grey"><a href="#" class="button">Sign Up</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
       
    </div>
  </div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
  <script src="/static/assets/js/shared/chart.js"></script>
{% endblock javascripts %}
