<!DOCTYPE html>
<html>

<head>
	<title>Welcome to Corticare!</title>
	<link rel="icon" href="/static/assets/images/bot.png" />
	<link rel="stylesheet" href="static/assets/css/shared/chatbotstyle.css" />
	
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="static/assets/js/shared/index.js" ></script>
<script type="text/javascript" src="static/assets/js/shared/constants.js" ></script>
<script type="text/javascript" src="static/assets/js/shared/speech.js" ></script>
<body>
	<div id="container" class="container">
		<div id="chat" class="chat">
			<div id="messages" class="messages"></div>
			<input id="input" type="text" placeholder="Say something..." autocomplete="off" autofocus="true" />
			
		</div>
		
		<img id="botimage" src="/static/assets/images/bot.png" alt="Robot cartoon" height="90%">
	</div>
</body>


</html>